Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [37]:
string = "Hello, World!"
string

'Hello, World!'

In [38]:
list = [1, 2, 3, 4, 5]
list

[1, 2, 3, 4, 5]

In [39]:
float = 3.14
float

3.14

In [40]:
tuple = (6, 7, 8, 9, 10)
tuple

(6, 7, 8, 9, 10)

Q2. Given are some following variables containing data:

(i) var1 = ‘ ‘

(ii) var2 = ‘[ DS , ML , Python]’

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv) var4 = 1.

What will be the data type of the above given variable.

In [6]:
var1 =''
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1

In [9]:
type(var1)

int

In [10]:
type(var2)

str

In [11]:
type(var3)

list

In [12]:
type(var4)

int

Q3. Explain the use of the following operators using an example:

(i) /

(ii) %

(iii) //

(iv) **

In [13]:
a=10
b=5

In [14]:
a/b
#Division

2.0

In [24]:
a%b
#modulus

0

In [16]:
a//b
#floor division

2

In [17]:
a**b
# Exponentiation

100000

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [21]:
list = [42, 'Hello', 3.14, True, ['mango', 'pineapple'], (1, 2, 3), {'dhruva': 'shetty', 'age': 25}, None, 5 + 2j, False]

In [25]:
for i in list:
    print(i, type(i))

42 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>
True <class 'bool'>
['mango', 'pineapple'] <class 'list'>
(1, 2, 3) <class 'tuple'>
{'dhruva': 'shetty', 'age': 25} <class 'dict'>
None <class 'NoneType'>
(5+2j) <class 'complex'>
False <class 'bool'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [27]:
A = 36
B = 6
count = 0

while A % B == 0:
    A = A / B
    count += 1

print(f"{A} is no longer divisible by {B}")
print(f"{B} can be divided into {A} {count} times")

1.0 is no longer divisible by 6
6 can be divided into 1.0 2 times

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [28]:
A = 100
B = 7

count = 0

while A % B == 0:
    A = A / B
    count += 1

if count > 0:
    print(f"{A} is divisible by {B} and can be divided {count} times.")
else:
    print(f"{A} is not divisible by {B}.")

100 is not divisible by 7.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [29]:
my_list = [12, 7, 18, 9, 5, 27, 14, 21, 33, 16, 30, 22, 11, 36, 2, 19, 6, 13, 25, 8, 31, 24, 15, 10, 3]

for num in my_list:
    if num % 3 == 0:
        print(f"{num} is divisible by 3.")
    else:
        print(f"{num} is not divisible by 3.")

12 is divisible by 3.
7 is not divisible by 3.
18 is divisible by 3.
9 is divisible by 3.
5 is not divisible by 3.
27 is divisible by 3.
14 is not divisible by 3.
21 is divisible by 3.
33 is divisible by 3.
16 is not divisible by 3.
30 is divisible by 3.
22 is not divisible by 3.
11 is not divisible by 3.
36 is divisible by 3.
2 is not divisible by 3.
19 is not divisible by 3.
6 is divisible by 3.
13 is not divisible by 3.
25 is not divisible by 3.
8 is not divisible by 3.
31 is not divisible by 3.
24 is divisible by 3.
15 is divisible by 3.
10 is not divisible by 3.
3 is divisible by 3.

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Mutable objects in Python can be modified after creation, allowing changes to their internal state. Examples include lists, dictionaries, and sets. In contrast, immutable objects, such as strings and tuples, cannot be changed once created, ensuring data integrity and preventing unintended modifications.